@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* variable font */
@font-face {
  font-family: "Onest";
  src: url("/fonts/onest/onest.var.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("/fonts/atkinson-mono/atkinson-mono.var.normal.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("/fonts/atkinson-mono/atkinson-mono.var.italic.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@theme {
  --font-sans: Onest, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Atkinson Hyperlegible Mono", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
