---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Legal">
  <article
    class="md:mt-30 p-8 gap-4 flex flex-col
    md:border border-white/70 dark:border-black/70
    bg-white/70 dark:bg-black/70
    md:rounded-xl mx-auto max-w-[60ch] overflow-clip md:mb-[15vh]"
  >
    <h1 class="text-2xl font-bold">Legal</h1>
    <p>
      When you visit this website, your IP address may be stored in server log
      files for up to 30 days for security and operational purposes. No
      additional personal data is collected.
    </p>
    <p>
      This site is hosted by
      <a
        class="text-pink-800 hover:underline"
        href="https://vercel.com/legal/privacy-policy">Vercel</a
      >, which may also process your data for security purposes.
    </p>
    <p>
      Links to other websites are provided for your convenience. I cannot
      guarantee the content of these websites remains up to date, accurate, or
      legal.
    </p>
  </article>
</Layout>
