---
import ThemeButton from "./ThemeButton.astro";
import logo from "@/assets/logo.svg";

const { pathname } = Astro.url;

const isHome = pathname === "/";
const isBlog = pathname === "/blog" || pathname.includes("posts/");
const activeClasses =
  "bg-gradient-to-br dark:from-pink-900 dark:to-pink-950 from-pink-300 to-purple-400";
const navCommonClasses = "px-2 rounded-md hover:bg-pink-900/10";
---

<script>
  const headerBg = ["bg-white/50", "dark:bg-black/30", "backdrop-blur-xl"];
  const header = document.querySelector("header");
  const minScroll = 50;
  if (window.innerWidth < 768 || window.scrollY > minScroll) {
    header?.classList.add(...headerBg);
  }
  const updateHeader = () => {
    if (window.innerWidth < 768 || window.scrollY > minScroll) {
      header?.classList.add(...headerBg);
    } else {
      header?.classList.remove(...headerBg);
    }
  };
  window.addEventListener("scroll", updateHeader);
  window.addEventListener("resize", updateHeader);
</script>

<header
  class="fixed top-0 left-0 right-0 z-10
  flex flex-row justify-between items-center px-4 py-1 transition-all duration-300"
>
  <nav class="uppercase text-lg flex flex-row gap-4 px-2 md:p-4">
    <img
      src={logo.src}
      alt="logo"
      class="w-6 h-6 dark:invert dark:-hue-rotate-[50deg]"
    />
    <a href="/" class:list={[navCommonClasses, isHome && activeClasses]}>
      Home
    </a>
    <a href="/blog" class:list={[navCommonClasses, isBlog && activeClasses]}
      >Blog</a
    >
  </nav>
  <ThemeButton />
</header>
