---

---

<div id="container">
  <main>
    <section id="hero">
      <h1>dorosplace.de</h1>
      <h2>Hello, welcome to my website. Please come back later.</h2>
      <h3>
        To get started, open the <code><pre>src/pages</pre></code> directory in your
        project.
      </h3>
    </section>
  </main>
</div>
